
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J-AXON</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>


    <!--NAVIGATION BAR-->
    <header class="navbar"> 
        <div class="logo">J-AXON</div>
        <!-- main navigation links -->
        <nav>
            <a href="./dashboard.html">Dashboard</a>
            <a href="./inventory.html">Inventary</a>
            <a href="./tickets.html">Tickets</a>
            <a href="#">Reports</a>
            <a href="./admin.html">admin</a>
        </nav>
    </header>
<!--Main dashboard content -->
    <main class="container-dashboard">
        <!-- summary section-->
        <section class="cards-dashboard">
            <div class="card-activos">
                <h4>Total Assets</h4>
                <h2>6</h2>
                <h6>5 Assets, 1 under maintenance</h6>
            </div>

            <div class="card-tikects">
                <h4>tickets Abiertos</h4>
                <h2>5</h2>
                <h6>1 Critical, 2 in progress</h6>
            </div>

            <div class="card-scheduled">
                <h6>scheduled maintenance</h6>
                <h2>7</h2>
                <h6>Next 30 days</h6>
            </div>

            <div class="card-cost">
                <h6>total maintenance cost</h6>
                <h2>$750</h2>
                <h6>Accumulated history</h6>
            </div>
        </section>
        <!--CHARTS SECTIONS-->
        <section class="charts">
            <!--Charts asset distribution-->
            <div class="charts-card">
            <h3>Assets by type</h3>
            <canvas id="footChart"> </canvas>
            </div>
            <div>
                <h3>tickets for category</h3>
                <canvas id="barChart" ></canvas>
            </div>
        </section>
        <div class="chart-card-line">
            <h3>Maintenance Cost Trend</h3>
            <canvas id="lineChart"></canvas>
        </div>
        <!--tickets categories-->
        
        <div class="maintenance-tickets-container">
            
            <div class="list-tikects">
                <!--recent tickets list-->
                <h3>Recent Tickets</h3>

                <!-- ticket item-->
                <div class="first-ticket">
                    <span class="dot in-progress" ></span>
                    <div>
                        <strong>Laptop won't turn on - Battery dead</strong>
                        <p>laptop dell latitude 7420</p>
                        <span class="badge progress">in progress</span>
                    </div>
                </div>

                <div class="second-ticket">
                    <span class="dot open"></span>
                    <div>
                        <strong>Error installing Windows updates</strong>
                        <p>HP EliteDesk 800 G6</p>
                        <span class="badge alert-open ">open</span>
                    </div>
                </div>
            


                <div class="third-ticket">
                    <span class="dot open"></span>
                    <div>
                        <strong>Server with high temperature</strong>
                        <p>server dell powerEdge R740</p>
                        <span class="badge alert-open">open</span>
                    </div>
                </div>
            

                <div class="fourth-ticket">
                    <span class="dot open"></span>
                    <div>
                        <strong>Error installing Windows updates</strong>
                        <p>Impresora HP LaserJet Pro M404n</p>
                        <span class="badge alert-open">open</span>
                    </div>
                </div>
            

                

                <div class="fifth-ticket">
                    <span class="dot resolved"></span>
                    <div>
                        <strong>request for additional design software</strong>
                        <p>macBook pro m2</p>
                        <span class="badge alert-resolved">resolved</span>
                    </div>
                </div>
            </div>

                <!-- upcoming maintance section-->
            <div class="maintenance">
                <h3>upcoming maintenance</h3>
                <div class="maintenance-next">
                    <h4>laptop dell latitude</h4>
                    <h6>preventive maintenance every six months</h6>
                    <H6>9/june/2026</H6>
                </div>

                <div class="maintenance-next">
                    <h4>HP EliteDesk 800 G6</h4>
                    <h6>preventive maintenance every six months</h6>
                    <h6>9/august/2026</h6>
                </div>

                <div class="maintenance-next">
                    <h4>server dell powerEdge R740</h4>
                    <h6>preventive maintenance every trhee months</h6>
                    <h6>19/april/2026</h6>
                </div>

                <div class="maintenance-next">
                    <h4>server dell powerEdge R740</h4>
                    <h6>monthly server inspection</h6>
                    <h6>14/march/2026</h6>
                </div>

                <div class="maintenance-next">
                    <h4>Impresora HP Laser Jet Pro M404n</h4>
                    <h6>Quarterly cleaning and maintenance</h6>
                    <h6>30/april/2026</h6>
                </div>
            
            </div>

        </div>
    </main>
    <!-- External chart.js library-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Here call chart.js-->
<script src="../js/charts.js"></script>
</body>
</html>