<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="../css/tickets.css">
</head>

<body>

    <header class="navbar"> 
        <div class="logo">J-AXON</div>

        <nav>
            <a href="./dashboard.html">Dashboard</a>
            <a href="./inventory.html">Inventary</a>
            <a href="./tickets.html">Tickets</a>
            <a href="#">Reports</a>
            <a href="./admin.html">Admin</a>
        </nav>
    </header>


    <div class="container">

        <div class="header">

            <div>
                <h1>Tickets de Soporte</h1>
                <p class="subtitle">
                    Gestión de incidencias y solicitudes técnicas
                </p>
            </div>

            <button id="newTicketBtn" class="btn-nuevo">
                + Nuevo Ticket
            </button>

        </div>


        <div class="filters">

            <input 
                type="text"
                placeholder="Buscar tickets..."
                class="search"
            >

            <select>
                <option>Todos los estados</option>
            </select>

            <select>
                <option>Todas las prioridades</option>
            </select>

            <select>
                <option>Todas las categorías</option>
            </select>
        </div>
        <p id="contadorTickets" class="contador"></p>
        <!-- FORMULARIO -->
        <div id="ticketModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>

                <h2>Crear Nuevo Ticket</h2>
                <input id="title" placeholder="Titulo del ticket">
                <textarea id="description" placeholder="Descripcion"></textarea>
                <input id="device" placeholder="Dispositivo">
                <input id="category" placeholder="Categoria">
                <input id="createdBy" placeholder="Creado por">
                <input id="assignedTo" placeholder="Asignado a">
                <input id="estimate" placeholder="Tiempo estimado (ej: 2h)">
                <select id="status">
                    <option value="En progreso">En progreso</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Completado">Completado</option>
                </select>
                <button id="addTicket">Agregar Ticket</button>
            </div>
        </div>
    </div>
</div>
        </div>
        <!-- LISTA DE TICKETS -->
        <div id="ticketList"></div>

    </div>


    <script src="../js/tickets.js"></script>

</body>
</html>